@{
    ViewBag.Title = "About";
}

<h1>Інформація про виконавців</h1>
<h2>Пакет був виконаний студентами 4го курсу факультету комп'ютерних наук та кібернетики групи ОМ</h2>
<h3>Цинцеус Гліб</h3>
<h3>Токар Констянтин</h3>
<h3>Колесников Валерій</h3>
<h3>Ладижець Віктор</h3>
