@{
    ViewBag.Title = "Home Page";
}

<div class="row text-center">
    <h1>Комплекс розв'язування задач математичного моделювання систем з дискретним часом та дискретними моделюючими функціями</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row text-center">
            <h2>Задання параметрів задачі</h2>
        </div>
        <div class="row text-center">
            <h3>Опис моделі</h3>
        </div>
        
        <div class="row">
            <span>Функція Грінна G(x)</span>
        </div>
        <div class="row">
            <input class="form-control" type="text" />
        </div>
        <div class="row">
            <span>Кінцевий момент часу Т</span>
        </div>
        <div class="row">
            <input class="form-control" type="text" />
        </div>

        <div class="row text-center">
            <h5>Початкові умови:</h5>
            <
        </div>
    </div>
    <div class="col-md-6">

    </div>
</div>